{% extends 'layout.html' %}

{% block title %}
Books of Section {{section.name}}
{% endblock %}

{% block content %}

<h1 class="display-1">
    Books of Section {{section.name}}
</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Content</th>
            <th>Author</th>
            {# <th>Date Issued</th> #}
            {# <th>Return Date</th> #}
        </tr>
    </thead>
    <tbody>
        {% for book in section.books %}
        <tr>
            <td>{{book.id}}</td>
            <td>{{book.name}}</td>
            <td>{{book.content}}</td>
            <td>{{book.author}}</td>
            {# <td>{{book.date_issued}}</td> #}
            {# <td>{{book.return_date}}</td> #}
            <td>
                <a href="{{url_for('edit_book', id=book.id)}}" class="btn btn-primary">
                    <i class="fas fa-edit"></i>
                    Edit
                </a>
                <a href="{{url_for('delete_book', id=book.id)}}" class="btn btn-danger">
                    <i class="fas fa-trash"></i>
                    Delete
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{url_for('add_book', section_id=section.id)}}" class="btn btn-success">
    <i class="fas fa-plus"></i>
    Add Book
</a>
{% endblock %}