{% extends "layout.html" %}

{% block title %}
Cart
{% endblock title %}

{% block content %}
{% if carts|length > 0 %}
<h1 class="display-1">User Requests</h1>

<hr>

<table class="table">
    <thead>
        <tr>
            <th>User ID</th>
            <th>Userame</th>
            <th>Book Name</th>
            <th>Author</th>
            <th>Issue Date</th>
            <th>Return Date</th>
            <th>Access</th>
        </tr>
    </thead>
    <tbody>
        {% for cart in carts %}
        <tr>
            <td>{{cart.user_id}}</td>
            <td>{{cart.username}}</td>
            <td>{{cart.book.name}}</td>
            <td>{{cart.book.author}}</td>
            <td>{{cart.book.date_issued}}</td>
            <td>{{cart.book.return_date}}</td>
            <td>
                <form action="{{url_for('delete_cart', id=cart.id)}}" method="post">
                    <button class="btn btn-success">
                        <i class="fas fa-plus"></i>
                        Grant
                    </button>
                    <button class="btn btn-danger">
                        <i class="fas fa-ban"></i>
                        Reject
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<h1 class="display-1">No User Requests Currently</h1>
<hr>
{% endif %}
{% endblock content %}