{% extends "layout.html" %}

{% block title %}
Give Feedbacks
{% endblock %}

{% block content %}
<h1 class="display-1">Give a Feedback</h1>

<form action="{{url_for('give_feedbacks_post', id=book_id)}}" method="POST" class="form">
    <div class="form-group">
        <label for="feedback" class="form-label">Feedback</label>
        <input type="text" name="feedback" id="feedback" class="form-control">
    </div>
    <button type="submit" class="btn btn-success" style="margin-top: 10px">
        <i class="fas fa-check"></i>
        Submit
    </button>
</form>
{% endblock %}x