{% extends "layout.html" %}
{% block title %}
Library
{% endblock title %}
{% block content %}
{% include "searchbar.html" %}
<hr>
<div class="sections-list">
    {% for section in sections %}
    <h2 style="margin-top: 20px;">{{section.name}}</h2>
    <div class="books" style="margin-bottom: 20px;">
        {% for book in section.books %}
        {% if not param or
        (param == 'book_name' and book_name.lower() in book.name.lower()) or
        (param == 'author_name'and author_name.lower() in book.author.lower()) %}
        <div class="card" style="width: 18rem; margin-left: 0; margin-right: 20px">
            {# <img src="https://picsum.photos/200/200" class="card-img-top" alt="{{book.name}}"> #}
            <div class="card-body">
                <h5 class="card-title">{{book.name}}</h5>
                <br>
                <div class="author">
                    <strong>Author: </strong> {{book.author}}
                </div>
                <div class="content">
                    <strong>Content: </strong> {{book.content}}
                </div>
                <br>
                <strong>Choose Duration</strong>
                <form action="{{url_for('add_to_cart', book_id=book.id, duration=duration)}}" class="form"
                    method="POST">
                    <div class="input-group">
                        <label for="duration" class="days">Days</label>
                        <input type="number" name="duration" id="duration" class="form-control" value="1" min="1"
                            style="border-radius: 0px 7px 7px 0px;">
                    </div>
                    <input type="submit" value="Get Book" class="btn btn-success" style="margin-top: 10px;">
                </form>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endfor%}
</div>
{% endblock %}

{% block style %}
<style>
    .sections-list {
        display: flex;
        flex-direction: column;
        justify-content: left;
    }

    .books {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
    }

    .card {
        margin: 10px;
    }

    .days {
        padding-top: 5px;
        padding-left: 20px;
        padding-right: 20px;
        border-style: solid;
        border-width: 1px;
        border-radius: 10px;
        border-color: #dee2e6;
    }
</style>
{% endblock %}