{% extends "layout.html" %}
{% block title %}
Library
{% endblock title %}
{% block content %}
{% include "searchbar.html" %}
<hr>
<div class="sections-list">
    {% for section in sections %}
    <h2 style="margin-top: 20px;">{{section.name}}</h2>
    <div class="books" style="margin-bottom: 20px;">
        {% for book in section.books %}
        <div class="card" style="width: 18rem; margin-left: 0; margin-right: 20px">
            <img src="https://picsum.photos/200/200" class="card-img-top" alt="{{book.name}}">
            <div class="card-body">
                <h5 class="card-title">{{book.name}}</h5>
                <div class="author">
                    <strong>Author: </strong> {{book.author}}
                </div>
                <div class="content">
                    <strong>Content: </strong> {{book.content}}
                </div>
                <form action="{{url_for('add_to_cart', book_id=book.id)}}" class="form" method="POST">
                    <input type="submit" value="Add to Cart" class="btn btn-success" style="margin-top: 10px">
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor%}
</div>
{% endblock %}

{% block style %}
<style>
    .sections-list {
        display: flex;
        flex-direction: column;
        justify-content: left;
    }

    .books {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
    }

    .card {
        margin: 10px;
    }
</style>
{% endblock %}