{% extends "layout.html" %}

{% block title %}
Issued Books
{% endblock title %}

{% block content %}
<h1 class="display-1">Issued Books</h1>

<hr>

<table class="table">
    <thead>
        <tr>
            <th>User ID</th>
            <th>Userame</th>
            <th>Book Name</th>
            <th>Author</th>
            <th>Issue Date</th>
            <th>Return Date</th>
            <th>Revoke</th>
        </tr>
    </thead>
    <tbody>
        {% for item in all_issued %}
        <tr>
            <td>{{item.user_id}}</td>
            <td>{{item.book_id}}</td>
            <td>{{item.username}}</td>
            <td>{{item.author}}</td>
            <td>{{item.date_issued}}</td>
            <td>{{item.return_date}}</td>
            <td>
                <form action="{{url_for('revoke_book', book_id=item.book_id, user_id=item.user_id)}}" method="POST"
                    style="display: inline;">
                    <button class=" btn btn-danger">
                        <i class="fas fa-ban"></i>
                        Revoke
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}