{% extends "layout.html" %}

{% block title %}
Library
{% endblock title %}

{% block content %}
{% if all_issued|length > 0 %}

<h1 class="display-1">Library</h1>

<hr>

<table class="table">
    <thead>
        <tr>
            <th>Book Name</th>
            <th>Author</th>
            <th>Issue Date</th>
            <th>Return Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for item in all_issued %}
        <tr>
            <td>{{item.book_name}}</td>
            <td>{{item.author}}</td>
            <td>{{item.date_issued}}</td>
            <td>{{item.return_date}}</td>
            <td>
                <form action="{{url_for('return_book', id=item.book_id)}}" method="POST" style="display: inline;">
                    <button class=" btn btn-danger">
                        <i class="fas fa-ban"></i>
                        Return
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<h1 class="display-1">No Books in Library Currently</h1>
<hr>
{% endif %}
{% endblock content %}