<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand" href="#">Library Management System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                {% if 'user_id' in session %}
                {% if session['is_admin'] %}
                <!-- This block will only be shown if the user is an admin -->
                <a class=" nav-link" href="{{ url_for('admin') }}">Sections</a>
                <a class="nav-link" href="{{ url_for('index') }}">Issued Books</a>
                <a class="nav-link" href="{{ url_for('cart') }}">User Requests</a>
                <a class="nav-link" href="{{ url_for('profile') }}">Profile</a>
                <a class="btn btn-outline-danger logout" href="{{url_for('logout')}}">Logout</a>
                {% else %}
                <a class="nav-link" href="{{ url_for('index') }}">Store</a>
                <a class="nav-link" href="">Library</a>
                {# <a class="nav-link" href="{{ url_for('cart') }}">Cart</a> #}
                <a class="nav-link" href="{{ url_for('profile') }}">Profile</a>
                <a class="btn btn-outline-danger logout" href="{{url_for('logout')}}">Logout</a>
                {% endif %}
                {% else %}
                <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                <a class="nav-link" href="{{ url_for('register') }}">Register</a>
                {% endif %}
                <!--url_for takes func name as the input-->
            </div>
        </div>
    </div>
</nav>