<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-12">
            <form action="" method="GET">
                <div class="input-group">
                    <select name="parameter" id="parameter" class="parameter form-select">
                        <option value="section_name">Section</option>
                        <option value="book_name">Books</option>
                        <option value="author_name">Author</option>
                    </select>
                    <input type="text" name="query" class="form-control" placeholder="Search for ..."
                        style="border-radius: 0px 7px 7px 0px;">
                    <span class="input-group-btn">
                        <button class="btn btn-outline-primary" style="margin-left: 10px;">Search</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>