{% extends 'layout.html' %}

{% block title %}
User Feedbacks
{% endblock %}

{% block content %}

<h1 class="display-1">User Feedbacks</h1>

<table class="table">
    <thead>
        <tr>
            <th>Book ID</th>
            <th>User ID</th>
            <th>Username</th>
            <th>Book Name</th>
            <th>Author</th>
            <th>Date of Feedback</th>
            <th>Feedback</th>
        </tr>
    </thead>
    <tbody>
        {% for feedback in feedbacks %}
        <tr>
            <td>{{feedback.user_id}}</td>
            <td>{{feedback.book_id}}</td>
            <td>{{feedback.username}}</td>
            <td>{{feedback.book_name}}</td>
            <td>{{feedback.author}}</td>
            <td>{{feedback.date_of_feedback}}</td>
            <td>{{feedback.feedback}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}