{% extends "layout.html" %}

{% block title %}
User Requests
{% endblock title %}

{% block content %}
<h1 class="display-1">User Requests</h1>

<hr>

<table class="table">
    <thead>
        <tr>
            <th>Book Name</th>
            <th>Author</th>
            <th>Issue Date</th>
            <th>Return Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for req in requests %}
        <tr>
            <td>{{req.name}}</td>
            <td>{{req.author}}</td>
            <td>{{req.date_issued}}</td>
            <td>{{req.return_date}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}